{
  globals: {
    // Google Apps Script
    PropertiesService: true,
    UrlFetchApp: true,

    // Test Library
    GasTap: true,

    // Our classes, functions
    NSCrawler: true,

    // test function
    testRunner: true,
  },
  extends: 'airbnb-es5',
}
